<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cheeus.admin.adminReports.mapper.AdminReportMapper">

	<resultMap id="AdminReportResultMap" type="com.cheeus.admin.adminReports.dto.AdminReportDto">
		<id property="id" column="id" />
		<result property="reporterId" column="reporter_id" />
		<result property="reportedId" column="reported_id" />
		<result property="content" column="content" />
		<result property="writeday" column="writeday" />

	</resultMap>

	<select id="findAll" resultMap="AdminReportResultMap">
		SELECT * FROM reports ORDER BY id DESC;
	</select>

	<select id="findById" parameterType="int" resultMap="AdminReportResultMap">
		SELECT * FROM reports WHERE id = #{id};
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO reports (reporter_id, reported_id, content)
		VALUES (#{reporterId}, #{reportedId}, #{content});
	</insert>

	<update id="update">
		UPDATE reports
		SET content = #{content}
		WHERE id = #{id};
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM reports WHERE id = #{id};
	</delete>

</mapper>
