<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cheeus.admin.adminUsers.mapper.AdminUsersMapper">

    <resultMap id="adminUsersResultMap" type="com.cheeus.admin.adminUsers.dto.AdminUsersDto">
        <id property="id" column="email"/>
        <result property="name" column="name"/>
        <result property="nickname" column="nickname"/>
        <result property="photo" column="photo"/>
        <result property="tel" column="tel"/>
        <result property="birth" column="birth"/>
        <result property="gender" column="gender"/>
        <result property="tags" column="tags"/>
        <result property="matchOk" column="matchOk"/>
        <result property="locationOk" column="locationOk"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="location" column="location"/>
        <result property="blacklist" column="blacklist"/>
        <result property="intro" column="intro"/>
    </resultMap>

    <select id="findAll" resultMap="adminUsersResultMap">
        SELECT * FROM profile
    </select>

    <select id="findByEmail" parameterType="String" resultMap="adminUsersResultMap">
        SELECT * FROM profile WHERE email = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO profile(email, name, nickname, photo, tel, birth, gender, tags, matchOk, locationOk, latitude, longitude, location, intro
    VALUES (#{id}, #{name}, #{nickname}, #{photo}, #{tel}, #{birth}, #{gender}, #{tags}, #{matchOk}, #{locationOk}, #{latitude}, #{longitude}, #{location}, #{intro}))
    </insert>

    <update id="update">
    UPDATE profile SET name=#{name}, nickname=#{nickname}, birth=#{birth}, blacklist=#{blacklist} WHERE email=#{id}
    </update>

    <delete id="delete">
    DELETE FROM profile WHERE email = #{id}
    </delete>

</mapper>