<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cheeus.user.event.UserEventMapper">

	<resultMap id="UserEventResultMap" type="com.cheeus.user.event.UserEventDto">
		<id property="id" column="id" />
		<result property="adminId" column="admin_id" />
		<result property="adminName" column="admin_name" />
		<result property="title" column="title" />
		<result property="title2" column="title2" />
		<result property="content" column="content" />
		<result property="writeday" column="writeday" />
		<result property="like" column="like" />
		<result property="views" column="views" />
		<result property="photoes" column="photoes" />
	</resultMap>

	<select id="findAll" resultMap="UserEventResultMap">
		SELECT * FROM event_board ORDER BY id DESC;
	</select>

	<select id="findById" parameterType="int" resultMap="UserEventResultMap">
		SELECT * FROM event_board WHERE id = #{id};
	</select>

</mapper>
