<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fullstack.finalproject.board.mapper.BoardMapper">

	<resultMap id="boardResultMap" type="com.fullstack.finalproject.board.dto.BoardDto">
		<id property="id" column="id" />
		<result property="authorId" column="author_id" />
		<result property="category" column="category" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="writeday" column="writeday" />
		<result property="views" column="views" />
		<result property="like" column="like" />
		<result property="replCnt" column="repl_cnt" />
		<result property="boardId" column="board_id" />
		<result property="photoes" column="photoes" />
		<result property="head" column="head" />
		<result property="media" column="media" />
		<result property="createdAt" column="created_at" />
	</resultMap>

	<select id="findAll" resultMap="boardResultMap">
		SELECT * FROM board;
	</select>

	<select id="findById" parameterType="int" resultMap="boardResultMap">
		SELECT * FROM board WHERE id = #{id};
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO board (author_id, category, title, content, writeday, views, `like`, repl_cnt)
		VALUES (#{authorId}, #{category}, #{title}, #{content}, #{writeday}, #{views}, #{like}, #{replCnt});
	</insert>

	<update id="update">
		UPDATE board
		SET author_id = #{authorId}, category = #{category}, title = #{title}, content = #{content}, writeday = #{writeday}, views = #{views}, `like` = #{like}, repl_cnt = #{replCnt}
		WHERE id = #{id};
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM board WHERE id = #{id};
	</delete>

</mapper>
